aiohttp==3.9.5 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
aiosignal==1.3.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
alembic==1.13.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
annotated-types==0.7.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
anyio==4.4.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
argon2-cffi==23.1.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
attrs==23.2.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
cachetools==5.3.3 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
certifi==2024.6.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
cffi==1.16.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
chardet==5.2.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
charset-normalizer==3.3.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
click==8.1.7 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
colorama==0.4.6 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0" and (sys_platform == "win32" or platform_system == "Windows")
deprecation==2.1.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
distro==1.9.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
dnspython==2.6.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
email-validator==2.2.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
fastapi-cli==0.0.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
fastapi==0.111.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
frozenlist==1.4.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
google-api-core==2.19.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
google-api-python-client==2.132.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
google-auth-httplib2==0.2.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
google-auth-oauthlib==1.2.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
google-auth==2.30.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
googleapis-common-protos==1.63.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
gotrue==2.6.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
greenlet==3.0.3 ; python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.12.dev0"
groq==0.9.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
h11==0.14.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
h2==4.1.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
hpack==4.0.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
httpcore==1.0.5 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
httplib2==0.22.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
httptools==0.6.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
httpx==0.27.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
httpx[http2]==0.27.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
hyperframe==6.0.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
idna==3.7 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
jinja2==3.1.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
jsonpatch==1.33 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
jsonpointer==2.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
langchain-core==0.2.26 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
langchain-groq==0.1.5 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
langchain-ollama==0.1.0rc0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
langchain-openai==0.1.20 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
langchain-text-splitters==0.2.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
langchain==0.2.10 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
langsmith==0.1.75 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
mako==1.3.5 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
markdown-it-py==3.0.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
markupsafe==2.1.5 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
mdurl==0.1.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
multidict==6.0.5 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "3.13.dev0"
oauthlib==3.2.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
ollama==0.3.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
openai==1.37.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
orjson==3.10.3 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
packaging==23.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
postgrest==0.16.9 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
proto-plus==1.23.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
protobuf==4.25.3 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
psycopg-binary==3.2.1 ; implementation_name != "pypy" and python_version >= "3.12.dev0" and python_version < "3.13.dev0"
psycopg2-binary==2.9.9 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
psycopg[binary]==3.2.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pwdlib[argon2]==0.2.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pyasn1-modules==0.4.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pyasn1==0.6.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pycparser==2.22 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pydantic-core==2.18.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pydantic-settings==2.3.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pydantic==2.7.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pygments==2.18.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pyjwt==2.8.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pyparsing==3.1.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
python-dotenv==1.0.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
python-multipart==0.0.9 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
pyyaml==6.0.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
realtime==1.0.6 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
regex==2024.7.24 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
requests-oauthlib==2.0.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
requests==2.32.3 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
rich==13.7.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
rsa==4.9 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
shellingham==1.5.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
six==1.16.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
sniffio==1.3.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
sqlalchemy==2.0.31 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
starlette==0.37.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
storage3==0.7.7 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
strenum==0.4.15 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
supabase==2.6.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
supafunc==0.5.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
tenacity==8.3.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
tiktoken==0.7.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
tqdm==4.66.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
typer==0.12.3 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
typing-extensions==4.12.2 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
tzdata==2024.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0" and sys_platform == "win32"
unidecode==1.3.8 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
uritemplate==4.1.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
urllib3==2.2.1 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
uvicorn[standard]==0.30.3 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.12.dev0" and python_version < "3.13.dev0"
watchfiles==0.22.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
websockets==12.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
yarl==1.9.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
